* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}

/* ----------------------------------------- */

body {
    background-color: #EAEBFB;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.iframe-container {
    text-align: center;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 35px;
}

iframe {
    border: 5px outset silver;
    background-color: black;
}

.countdown-texts {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}

#currentDateText::before {
    content: 'Your device\'s Date: ';
    display: block;
    font-size: 2.5rem;
    font-weight: normal;
}


/* ---------------------------------------- */

.info-container {
    background-color: #1E2656;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 15px;
    padding: 15px 0px;
}

/* ---------------------------------------- */

.about-container {
    background-color: #1E2656;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 12px;
    padding: 15px 0px;
    margin-bottom: 20px;
    position: relative;

}
.about-container::before {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin: 10px 10px;
}
.about-container::after {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    margin: 10px 10px;
}
.about-container:hover::before {
    background-color: gold;
}
.about-container:hover::after {
    background-color: gold;
}

h1 {
    font-family: 'Roboto Slab';
    text-align: center;
    width: 100%;
    font-size: 4rem;
    text-decoration: underline;
}

h2 {
    width: 100%;
    font-size: 2.5rem;
    padding: 0px 20px 0px 20px;
    font-weight: normal;}

/* ---------------------------------------- */

@keyframes rgbBg {
    from { background-color: red}
    33.333% { background-color: green; }
    66.666% { background-color: blue }
    to { background-color: red; }
}