* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}

/* ----------------------------------------- */
/* Colors from https://uidesigndaily.com/posts/sketch-community-page-ui-components-list-card-blog-article-day-1190 */


body {
    background-color: #EAEBFB;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.iframe-container {
    text-align: center;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 35px;
}

iframe {
    border: 5px outset silver;
    background-color: black;
}

.countdown-texts {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}

#currentDateText::before {
    content: 'Your device\'s Date: ';
    display: block;
    font-size: 2.5rem;
    font-weight: normal;
}


/* ---------------------------------------- */

.info-container {
    background-color: #1E2656;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 15px;
    padding: 15px 0px;
}

/* ---------------------------------------- */

.about-container {
    background-color: #1E2656;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 12px;
    padding: 15px 0px;
    margin-bottom: 20px;
    position: relative;

}
.about-container::before {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin: 10px 10px;
}
.about-container::after {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    margin: 10px 10px;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab';
    width: 100%;
    font-size: 4rem;
    text-decoration: underline;
    margin-top: 0;
}
h1::before {
    content: '-';
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px 0px 0px;
}
h1::after {
    content: '-';
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 5px;
}

h2 {
    width: 100%;
    font-size: 2.5rem;
    padding: 0px 20px 0px 20px;
    font-weight: normal;
}
h2::before {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    margin: 10px 10px;
}
h2::after {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    border-radius: 50%;
    right: 0;
    margin: 10px 10px;
}

.countdown-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.countdown-item {
    background-color: #8484A2;
    width: 120px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.countdown-item-text {
    font-size: 4rem;
}

#monthsCountdown::before {
    content: 'Month';
    display: block;
    font-size: 2rem;
}
#daysCountdown::before {
    content: 'Day';
    display: block;
    font-size: 2rem;
}
#hoursCountdown::before {
    content: 'Hour';
    display: block;
    font-size: 2rem;
}
#minutesCountdown::before {
    content: 'Minute';
    display: block;
    font-size: 2rem;
}
#secondsCountdown::before {
    content: 'Second';
    display: block;
    font-size: 2rem;
}
#millisecondsCoundown::before {
    content: 'Millisecond';
    display: block;
    font-size: 2rem;
}

/* ---------------------------------------- */

@keyframes rgbBg {
    from { background-color: red}
    33.333% { background-color: green; }
    66.666% { background-color: blue }
    to { background-color: red; }
}

@media screen and (max-width: 980px) {
    .info-container {
        width: 92vw;
    }
    .about-container {
        width: 92vw;
    }
}